<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<!-- Moonraker (Snapmaker U1) spricht lokal unverschlüsseltes HTTP. -->
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/jschallmayer78/BambuMonitor/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>vu6Wwg4L4t3zL+H+nqRToCAAYlceNAuOFnslY18Pz3A=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
